* {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation;
}

body {
  -webkit-text-size-adjust: 100%;
}

html {
  touch-action: manipulation;
}
